# =========================================================
# Python
# =========================================================

__pycache__/
*.py[cod]


# =========================================================
# Virtual Environment
# =========================================================

venv/
.venv/


# =========================================================
# Environment / Secrets
# =========================================================

.env
.env.*
!.env.example


# =========================================================
# Local Databases
# =========================================================

*.db
*.sqlite
*.sqlite3


# =========================================================
# Test / Cache
# =========================================================

.pytest_cache/
.coverage


# =========================================================
# IDE
# =========================================================

.vscode/
.idea/


# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db